# Dependencies
node_modules/

# Build output
dist/

# Local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Test coverage
coverage/
